/* #region Variables */

/* #endregion */

/* #region Reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* #endregion */

/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #endregion */

/* #region Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* #endregion */

/* #region Buttons */
.btn {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.btn-accent {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: #404bbf;
  border: none;
}

/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  margin-right: 76px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-grow: 1;
  justify-content: flex-start;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav-list li:first-child .header-nav-link {
  color: #404bbf;
}

.header-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav-link {
  position: relative;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link .active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  margin-top: 20px;
}

.header-nav-link.active::after {
  background: #404bbf;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title {
  min-width: 496px;
}

/* #endregion */

/* #region Hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background: #2e2f42;
  padding: 188px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

/* #endregion */

/* #region Features */
.feature {
  padding-bottom: 120px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 3 * 24px) / 4);
}

.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.feature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}
/* #endregion */

/* #region Team */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  gap: 24px;
}

.team-item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
}

.team-title {
  margin: 0 auto;
  min-width: 162px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-position {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-icon {
  fill: currentColor;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-card-overlay {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-list {
  background: #ffffff;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-title {
  min-width: 218px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card {
  background: #ffffff;
}

.portfolio-feature {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  background: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Footer */
.footer {
  display: flex;
  align-items: baseline;
  font-family: inherit;
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-left {
  margin-right: 120px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: currentColor;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-form-icon {
  margin-left: 16px;
}

.footer-form-label {
  display: flex;
  align-items: center;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 165px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
  backdrop-filter: blur(2px);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-field {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: #8e8f99;
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-agreement {
  margin-bottom: 16px;
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + .modal-privacy > .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

input[type='checkbox']:checked + .checkbox > .checkbox-icon {
  opacity: 1;
}

.model-privacy-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 24px;
}

.modal-form-privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.modal-privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
/* #endregion Modal */
